
<div id="formContent">  
    <div class="fadeIn first bg-light"><br><br>
        <img src="https://cdn-icons-png.flaticon.com/512/2550/2550383.png" style="width: 100px;" id="icon" alt="User Icon" /><br>
    </div>
    <router-outlet></router-outlet>
    <p class="texto">¿Ya tenes una cuenta? <b class="cursor" (click)="ingresar()">INGRESÁ</b></p>
    <button class="btn btn-sm btn-transparent" (click)="volver()"><img style="width: 10%; height: 10%" src="https://cdn-icons-png.flaticon.com/512/8469/8469023.png" alt="volver" /></button><br>
 </div>