.boton-Agregar:hover
{
    background-color: #1680be;
    transform: translateY(-4px);
}

.div_botones
{
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr [col-start]);
    margin:auto;
}

.gridTurnos {
    overflow-y:scroll;
    max-height: 350px;
  }

.boton_usuario
{
    background-color: #56baed;
    color: aliceblue;
    font-weight: 500;
    font-size: small;
    transition: all 0.3s ease 0s;
    padding: 40%;
    margin: 3px;
    border-width: 1px;
    border-radius: 50%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s ease 0s;

}
.boton_usuario:hover
{
    transform: translateY(-15px);
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: darkcyan;
    text-align: center;
    align-items: center;
    align-content: center;
}

.divcenter
{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    align-content: center;
}

.boton-Agregar
{
  margin-top: 100px;
  background-color: #56baed;
  border: none;
  color: white;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}