<div class="fadeIn center bg-light">
  <h3 class="texto"> <br>REGISTRAR NUEVO USUARIO </h3>
  <hr class="my-4">
</div>   
<form class="needs-validation padding" [formGroup]="forma" (ngSubmit)="Registrar()">
<div class="row g-3">
  <div class="col-12">
    <label class="texto" style="float: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nombre</label><br>
    <input type="text" class="form-control border" formControlName="nombre" placeholder="Ingrese su nombre" required><br>
    <small class="invalid rojo" *ngIf="forma.controls.nombre.errors?.required && forma.controls.nombre.touched"> El nombre es requerido </small>
    <small class="invalid rojo" *ngIf="forma.controls.nombre.errors?.containsSpaces && forma.controls.nombre.touched"> El nombre no puede contener espacios </small>
  </div>

  <div class="col-12">
    <label class="texto" style="float: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Apellido</label><br>
    <input type="text" class="form-control border" formControlName="apellido" placeholder="Ingrese su apellido" ><br>
    <small class="invalid rojo" *ngIf="forma.controls.apellido.errors?.required && forma.controls.apellido.touched"> El apellido es requerido </small>
    <small class="invalid rojo" *ngIf="forma.controls.apellido.errors?.containsSpaces && forma.controls.apellido.touched"> El apellido no puede contener espacios </small>
  </div>

  <div class="col-12">
    <label class="texto" style="float: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edad</label><br>
    <input type="text" formControlName="edad" class="form-control border"  placeholder="Ingrese su edad" ><br>
    <small class="invalid rojo" *ngIf="forma.controls.edad.errors?.required && forma.controls.edad.touched"> La edad es requerida</small>
    <small class="invalid rojo" *ngIf="forma.controls.edad.errors?.min || forma.controls.edad.errors?.max && forma.controls.edad.touched"> La edad debe ser de 18 a 99 años </small>
    <small class="invalid rojo" *ngIf=" forma.controls.edad.errors?.pattern && forma.controls.edad.touched"> La edad solo puede contener numeros </small>
  </div>

  <div class="col-12">
    <label class="texto" style="float: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DNI</label><br>
    <input type="text" class="form-control border" formControlName="dni" placeholder="Ingrese su DNI" ><br>
    <small class="invalid rojo" *ngIf="forma.controls.dni.errors?.required && forma.controls.dni.touched"> El dni es requerido </small>
  <small class="invalid rojo" *ngIf="forma.controls.dni.errors?.pattern && forma.controls.dni.touched"> Ingrese sólo números </small>
  </div>

  <div class="col-12">
    <label class="texto" style="float: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Correo</label><br>
    <input type="text" class="form-control border" formControlName="email" placeholder="Ingrese su correo"><br>
    <small class="invalid rojo" *ngIf="forma.controls.email.errors?.required && forma.controls.email.touched"> El email es requerido </small>
    <small class="invalid rojo" *ngIf="forma.controls.email.errors?.containsSpaces && forma.controls.email.touched"> El correo no puede contener espacios </small>
  </div>

  <div class="col-12">
    <label class="texto" style="float: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clave</label><br>
    <input type="password" class="form-control border" formControlName="contrasena" placeholder="Ingrese una contraseña"><br>
    <small class="invalid rojo" *ngIf="forma.controls.contrasena.errors?.required && forma.controls.contrasena.touched"> La contraseña es requerida </small>
  </div>

  <div class="col-12">
    <label class="texto" style="float: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Obra social</label><br>
    <input type="text" class="form-control border" formControlName="obra" placeholder="Ingrese obra Social"><br>
    <small class="invalid rojo" *ngIf="forma.controls.contrasena.errors?.required && forma.controls.contrasena.touched"> La obra social es requerida </small>
  </div>

  <div class="col-6">
    <label for="email" class="form-label texto">Cargar primer imagen </label>
    <input style="color: white;" formControlName="foto1" (change)="elegirFoto1($event)" type="file" accept=".png,.jpg" />
    <small class="invalid rojo" *ngIf="forma.controls.foto1.errors?.required && forma.controls.foto1.touched">La Foto es requerida</small>
    <small class="invalid" *ngIf="foto1">{{foto1.name}}</small>
  </div>

  <div class="col-6">
    <label for="email" class="form-label texto">Cargar segunda imagen </label>
    <input style="color: white;" formControlName="foto2" (change)="elegirFoto2($event)" type="file" accept=".png,.jpg" />
    <small class="invalid rojo" *ngIf="forma.controls.foto2.errors?.required && forma.controls.foto2.touched">La Foto es requerida</small>
    <small class="invalid" *ngIf="foto2">{{foto2.name}}</small>
  </div>
</div>
<br>
<div class="center col-sm-6">
<ngx-recaptcha2 #captchaElem [siteKey]="authService.siteKey" [useGlobalDomain]="false" formControlName="recaptcha"></ngx-recaptcha2>
</div>
<hr class="my-4">
<button type="submit"  [disabled]="forma.invalid" class=" center col-sm-6 fadeIn fourth boton-Agregar cursor" >Registrar</button>
</form>


