<body><br><br><br>
    <div id="formContent"><br>
        <button class="btn btn-sm btn-transparent" (click)="volver()"><img style="width: 10%; height: 10%" src="https://cdn-icons-png.flaticon.com/512/8469/8469023.png" alt="volver" /></button><br><br>
        <div class="div_botones">
            <div class="row">
                <!-- <div class="text-center mb-2 col-4">
                    <button class="btn color1 btn-info" style="width: 250px; height: 250px; border-radius: 50%; margin-left: rem;"(click)="Administrador()"><img style="width: 70%; height: 70%" src="https://cdn-icons-png.flaticon.com/512/560/560199.png" alt="paciente"/><h6 class="text-white">ADMIINISTRADOR</h6></button> 
                </div>              -->
                <div class=" text-center mb-2 col-6">
                    <button class="btn color1 btn-primary" style="width: 250px; height: 250px; border-radius: 50%; margin-left: rem;"(click)="usuario()"><img style="width: 70%; height: 70%" src="https://cdn-icons-png.flaticon.com/512/1430/1430454.png" alt="paciente"/><h6 class="text-white">PACIENTE</h6></button> 
                </div>            
                <div class="text-center mb-2 col-6">
                    <button class="btn rounded-circle btn-info" style="width: 250px; height: 250px" (click)="Especialista()"><img style="width: 70%; height: 70%" src="https://cdn-icons-png.flaticon.com/512/1430/1430480.png" alt="especialista" /> <h6 class="text-white">ESPECIALISTA</h6></button> 
                </div>             
            </div>
        </div>
    </div>
</body>

